Types of file type commonly imported are .txt, .csv, .xls, .xlsx, .json.

<ins>Prereq</ins>: rio must be installed. If not run `install.packages('rio')` in R terminal

In [1]:
library(rio)

In [2]:
csv_file <- import('../datasets/mbb.csv')
head(csv_file)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [3]:
txt_file<- import('../datasets/mbb.txt')
head(txt_file)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [4]:
xlsx_file<- import('../datasets/mbb.xlsx')
head(xlsx_file)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12